# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
StateMachine.sln
StateMachine.vcxproj
StateMachine.vcxproj.filters
StateMachine.vcxproj.user
.vs/StateMachine/v15/.suo
.vs/StateMachine/v15/Browse.VC.db
.vs/StateMachine/v15/ipch/AutoPCH/852dd0dcce139b6/STATE_MACHINE_TEST.ipch
.vs/StateMachine/v15/ipch/AutoPCH/bcbb5c60addcab86/STATE_MACHINE_TEST.ipch
.vs/StateMachine/v15/ipch/AutoPCH/bcf65e1598ecc6f0/LOCK_TEST.ipch
Debug/StateMachine.Build.CppClean.log
Debug/StateMachine.ilk
Debug/StateMachine.log
Debug/StateMachine.pdb
Debug/StateMachine.tlog/CL.command.1.tlog
Debug/StateMachine.tlog/CL.read.1.tlog
Debug/StateMachine.tlog/CL.write.1.tlog
Debug/StateMachine.tlog/link.command.1.tlog
Debug/StateMachine.tlog/link.read.1.tlog
Debug/StateMachine.tlog/link.write.1.tlog
Debug/StateMachine.tlog/StateMachine.lastbuildstate
Debug/vc141.idb
Debug/vc141.pdb
